<nav>
    <div class="nav-wrapper">
      <a href="#!" id="nav-title" class="brand-logo align-left">Ahoy, matey!</a>
      <ul class="right hide-on-med-and-down">
        <li><a id="add-review" class="waves-effect waves-light btn">Set Sail<i class="material-icons right">directions_boat</i></a></li>
      </ul>
    </div>
  </nav>


<div class="container">
    <div class="row">
        <div class="col s12 m12 ll12 center" id="main-title">
            <h1 id="main-title">Rising Tide Reviews</h1>
        </div>
        {{!-- <div class="col s1 m1 l1">
            <button>Add</button>
        </div> --}}
    </div>

    <div class="row">
        <div class="col s12 valign-wrapper" id="movie-dock">
            <h3>Movies Dock</h3>
        </div>
    </div>

    <div class="row">

            <div data-imdbid="" class="card col l2 sticky-action main-card-0" id="results-card">
                <div class="card-image waves-effect waves-block waves-light">
                    <img id="poster-img" class="activator responsive-img" src="">
                </div>
                <div id="results-content" class="card-content">

                    <div id="movie-title-div" class="center-align valign-wrapper">
                        <p id="movie-title"></p>
                    </div>
                    
                    <div id="boats-div" class="center-align">
                            <a id="up-boat"><i class="material-icons left up-boat" data-imdbid="">keyboard_arrow_up</i></a>
                            <span id="boat-value"></span>
                            <a id="down-boat"><i class="material-icons right down-boat" data-imdbid="">keyboard_arrow_down</i></a>
                        
                    </div>
                </div>
                <div class="card-reveal">
                    <span id="movie-title" class="card-title grey-text text-darken-4"><i
                            class="material-icons right">close</i></span>
                    <ul>
                        <li id="movie-year">Year:</li>
                        <li class = "rating">Rating: </li>
                        <br>
                        {{!-- <li class = "Genre">Genre: </li> --}}
                        <li class = "plot">Plot: </li>
                        
                    </ul>
                </div>
            </div>

            <div data-imdbid="" class="card col l2 sticky-action main-card-1" id="results-card">
                <div class="card-image waves-effect waves-block waves-light">
                    <img id="poster-img" class="activator responsive-img" src="">
                </div>
                <div id="results-content" class="card-content">

                    <div id="movie-title-div" class="center-align valign-wrapper">
                        <p id="movie-title"></p>
                    </div>
                    
                    <div id="boats-div" class="center-align">
                            <a id="up-boat"><i class="material-icons left up-boat" data-imdbid="">keyboard_arrow_up</i></a>
                            <span id="boat-value"></span>
                            <a id="down-boat"><i class="material-icons right down-boat" data-imdbid="">keyboard_arrow_down</i></a>
                        
                    </div>
                </div>
                <div class="card-reveal">
                    <span id="movie-title" class="card-title grey-text text-darken-4"><i
                            class="material-icons right">close</i></span>
                    <ul>
                        <li id="movie-year">Year:</li>
                        <li class = "rating">Rating: </li>
                        <br>
                        {{!-- <li class = "Genre">Genre: </li> --}}
                        <li class = "plot">Plot: </li>
                        
                    </ul>
                </div>
            </div>

            <div data-imdbid="" class="card col l2 sticky-action main-card-2" id="results-card">
                <div class="card-image waves-effect waves-block waves-light">
                    <img id="poster-img" class="activator responsive-img" src="">
                </div>
                <div id="results-content" class="card-content">

                    <div id="movie-title-div" class="center-align valign-wrapper">
                        <p id="movie-title"></p>
                    </div>
                    
                    <div id="boats-div" class="center-align">
                            <a id="up-boat"><i class="material-icons left up-boat" data-imdbid="">keyboard_arrow_up</i></a>
                            <span id="boat-value"></span>
                            <a id="down-boat"><i class="material-icons right down-boat" data-imdbid="">keyboard_arrow_down</i></a>
                        
                    </div>
                </div>
                <div class="card-reveal">
                    <span id="movie-title" class="card-title grey-text text-darken-4"><i
                            class="material-icons right">close</i></span>
                    <ul>
                        <li id="movie-year">Year:</li>
                        <li class = "rating">Rating: </li>
                        <br>
                        {{!-- <li class = "Genre">Genre: </li> --}}
                        <li class = "plot">Plot: </li>
                        
                    </ul>
                </div>
            </div>

            <div data-imdbid="" class="card col l2 sticky-action main-card-3" id="results-card">
                <div class="card-image waves-effect waves-block waves-light">
                    <img id="poster-img" class="activator responsive-img" src="">
                </div>
                <div id="results-content" class="card-content">

                    <div id="movie-title-div" class="center-align valign-wrapper">
                        <p id="movie-title"></p>
                    </div>
                    
                    <div id="boats-div" class="center-align">
                            <a id="up-boat"><i class="material-icons left up-boat" data-imdbid="">keyboard_arrow_up</i></a>
                            <span id="boat-value"></span>
                            <a id="down-boat"><i class="material-icons right down-boat" data-imdbid="">keyboard_arrow_down</i></a>
                        
                    </div>
                </div>
                <div class="card-reveal">
                    <span id="movie-title" class="card-title grey-text text-darken-4"><i
                            class="material-icons right">close</i></span>
                    <ul>
                        <li id="movie-year">Year:</li>
                        <li class = "rating">Rating: </li>
                        <br>
                        {{!-- <li class = "Genre">Genre: </li> --}}
                        <li class = "plot">Plot: </li>
                        
                    </ul>
                </div>
            </div>

            <div data-imdbid="" class="card col l2 sticky-action main-card-4" id="results-card">
                <div class="card-image waves-effect waves-block waves-light">
                    <img id="poster-img" class="activator responsive-img" src="">
                </div>
                <div id="results-content" class="card-content">

                    <div id="movie-title-div" class="center-align valign-wrapper">
                        <p id="movie-title"></p>
                    </div>
                    
                    <div id="boats-div" class="center-align">
                            <a id="up-boat"><i class="material-icons left up-boat" data-imdbid="">keyboard_arrow_up</i></a>
                            <span id="boat-value"></span>
                            <a id="down-boat"><i class="material-icons right down-boat" data-imdbid="">keyboard_arrow_down</i></a>
                        
                    </div>
                </div>
                <div class="card-reveal">
                    <span id="movie-title" class="card-title grey-text text-darken-4"><i
                            class="material-icons right">close</i></span>
                    <ul>
                        <li id="movie-year">Year:</li>
                        <li class = "rating">Rating: </li>
                        <br>
                        {{!-- <li class = "Genre">Genre: </li> --}}
                        <li class = "plot">Plot: </li>
                        
                    </ul>
                </div>
            </div>
        

        <!-- {{#each popular}}
            <div data-imdbid="{{imdbid}}" class="card col l2 sticky-action" id="results-card">
                <div class="card-image waves-effect waves-block waves-light">
                    <img id="poster-img" class="activator responsive-img" src="{{poster}}">
                </div>
                <div id="results-content" class="card-content">

                    <div id="movie-title-div" class="center-align valign-wrapper">
                        <p id="movie-title">{{title}}</p>
                    </div>
                    
                    <div id="boats-div" class="center-align">
                            <a id="up-boat"><i class="material-icons left up-boat" data-imdbid="{{imdbid}}">keyboard_arrow_up</i></a>
                            <span>{{boatsValue}}</span>
                            <a id="down-boat"><i class="material-icons right down-boat" data-imdbid="{{imdbid}}">keyboard_arrow_down</i></a>
                        
                    </div>
                </div>
                <div class="card-reveal">
                    <span class="card-title grey-text text-darken-4">{{title}}<i
                            class="material-icons right">close</i></span>
                    <ul>
                        <li>Year: {{year}}</li>
                        <li class = "rating">Rating: </li>
                        <br>
                        {{!-- <li class = "Genre">Genre: </li> --}}
                        <li class = "plot">Plot: </li>
                        
                    </ul>
                </div>
            </div>
            {{/each}}
            -->

        {{!-- <div class="col s12 align-center" id="movie-cards">
            <div class="row">
                <div class="col m1 valign-wrapper" id="next-btn">
                    <a class="waves-effect waves-light btn-small center-align"><i class="material-icons left">arrow_back</i></a>
                </div>
                <div class="card col m2">
                    <div class="card-image waves-effect waves-block waves-light">
                        <img class="activator" src="https://via.placeholder.com/150">
                    </div>
                    <div class="card-content">
                        <span class="card-title activator grey-text text-darken-4">Movie Title</span>
                    </div>
                    <div class="card-action">
                            <a href="#" id="up-boat"><i class="material-icons left">keyboard_arrow_up</i></a>
                            <a href="#" id="down-boat"><i class="material-icons right">keyboard_arrow_down</i></a>
                    </div>
                    <div class="card-reveal">
                        <span class="card-title grey-text text-darken-4">Movie Title<i
                                class="material-icons right">close</i></span>
                        <p>Here is some more information about this movie that is only revealed once clicked on.</p>
                    </div>
                </div>

                <div class="card col m2">
                    <div class="card-image waves-effect waves-block waves-light">
                        <img class="activator" src="https://via.placeholder.com/150">
                    </div>
                    <div class="card-content">
                        <span class="card-title activator grey-text text-darken-4">Movie Title</span>
                    </div>
                    <div class="card-action">
                            <a href="#" id="up-boat"><i class="material-icons left">keyboard_arrow_up</i></a>
                            <a href="#" id="down-boat"><i class="material-icons right">keyboard_arrow_down</i></a>
                    </div>
                    <div class="card-reveal">
                        <span class="card-title grey-text text-darken-4">Movie Title<i
                                class="material-icons right">close</i></span>
                        <p>Here is some more information about this movie that is only revealed once clicked on.</p>
                    </div>
                </div>

                <div class="card col m2">
                    <div class="card-image waves-effect waves-block waves-light">
                        <img class="activator" src="https://via.placeholder.com/150">
                    </div>
                    <div class="card-content">
                        <span class="card-title activator grey-text text-darken-4">Movie Title</span>
                    </div>
                    <div class="card-action">
                            <a href="#" id="up-boat"><i class="material-icons left">keyboard_arrow_up</i></a>
                            <a href="#" id="down-boat"><i class="material-icons right">keyboard_arrow_down</i></a>
                    </div>
                    <div class="card-reveal">
                        <span class="card-title grey-text text-darken-4">Movie Title<i
                                class="material-icons right">close</i></span>
                        <p>Here is some more information about this movie that is only revealed once clicked on.</p>
                    </div>
                </div>

                <div class="card col m2">
                    <div class="card-image waves-effect waves-block waves-light">
                        <img class="activator" src="https://via.placeholder.com/150">
                    </div>
                    <div class="card-content">
                        <span class="card-title activator grey-text text-darken-4">Movie Title</span>
                    </div>
                    <div class="card-action">
                            <a href="#" id="up-boat"><i class="material-icons left">keyboard_arrow_up</i></a>
                            <a href="#" id="down-boat"><i class="material-icons right">keyboard_arrow_down</i></a>
                    </div>
                    <div class="card-reveal">
                        <span class="card-title grey-text text-darken-4">Movie Title<i
                                class="material-icons right">close</i></span>
                        <p>Here is some more information about this movie that is only revealed once clicked on.</p>
                    </div>
                </div>

                <div class="card col m2">
                    <div class="card-image waves-effect waves-block waves-light">
                        <img class="activator" src="https://via.placeholder.com/150">
                    </div>
                    <div class="card-content">
                        <span class="card-title activator grey-text text-darken-4">Movie Title</span>
                    </div>
                    <div class="card-action">
                            <a href="#" id="up-boat"><i class="material-icons left">keyboard_arrow_up</i></a>
                            <a href="#" id="down-boat"><i class="material-icons right">keyboard_arrow_down</i></a>
                    </div>
                    <div class="card-reveal">
                        <span class="card-title grey-text text-darken-4">Movie Title<i
                                class="material-icons right">close</i></span>
                        <p>Here is some more information about this movie that is only revealed once clicked on.</p>
                    </div>
                </div>

                <div class="col m1 valign-wrapper center" id="back-btn">
                    <a class="waves-effect waves-light btn-small"><i class="material-icons right">arrow_forward</i></a>
                </div>

            </div>
        </div> --}}


    </div>