<div class="container">
    <h1 class="text-center mt-5">Movie Results</h1>

    <div class="results-container">
        
        {{#each results}}
        <ul>
        <li>{{Title}}</li>
        <li>{{Year}}</li>
        <li><img src="{{Poster}}" alt="Poster"></li>
        {{#if source}}
        <li>boatsValue: {{boatsValue}}</li>
        <button class="up-boat" data-imdbid = {{imdbID}}>UP Boat</button>
        <button class="down-boat" data-imdbid = {{imdbID}}>Down Boat</button>
        {{else}}
        <button class="add-movie" data-imdbid = {{imdbID}}>Recommend</button>
        {{/if}}
        </ul>
        {{/each}}
    </div>
    
</div>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="/js/searchMovie.js"></script>